body {
    background-image: url('/static/images/92bcb293-0985-420e-9168-016f6c346b0a.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image {
    width: 450px;
    height: auto;
    border: 2px solid #da70c7;
    position: absolute;
    top: 20%;
    right: 15%;
    animation-duration: 3s;
    animation-name: spin;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transition: all 0.3s ease-in-out;
    /* Add transition for smooth hover effect */
}

.image:hover {
    transform: scale(1.2);
    /* Increased scale for a more pronounced effect */
    animation-play-state: paused;
    /* Pause the animation on hover */
    cursor: pointer;
    /* Change cursor to indicate interactivity */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer .home-button {
    text-decoration: none;
    color: #da70c7;
    /* Match the heading */
    border: 1px solid #da70c7;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Hover Effect with Movement */
footer .home-button:hover {
    background-color: transparent;
    color: #fff;
    transform: translateY(-5px);
    /* Slight upward motion */
    box-shadow: 0 5px 15px 333;
    /* Add a shadow for depth */
}

/* Oscillation Effect */
footer .home-button:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 2px dashed rgba(192, 119, 180, 0.5);
    animation: pulse 1s infinite ease-in-out;
}