body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f5c6ff, #ffd6d9, #c9e7f5);
    color: #333;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
}

.contacts-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.contact-description {
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-detail {
    margin-bottom: 10px;
}

.contact-box img {
    max-width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }

    .contact-box {
        width: 100%;
    }
}

.contact-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-box {
    margin: 10px;
    text-align: center;
}


@keyframes imageAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-box img {
    animation: imageAnimation 2s infinite ease-in-out;
}

.contact-box h2,
.contact-box p {
    animation: textAnimation 1s ease-in-out;
}