<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='ABOUT.css') }}">
</head>

<body>
    <main>
        <img src="/static/images/3a494b21-f3af-46eb-8342-a7cab7558178.jpeg" class="image">
        <footer>
            <a href="{{ url_for('home') }}" class="home-button">Home</a>
        </footer>
    </main>
</body>

</html>