<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 3 - Laboratory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='INDEX.css') }}">
</head>

<body>
    <header>
        <div class="navigation">
            <div class="nav-item">
                <a href="{{ url_for('about') }}"><button>ABOUT</button></a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('works') }}"><button>WORKS</button></a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('contact') }}"><button>CONTACTS</button></a>
            </div>
        </div>
    </header>
</body>

</html>